<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Co-Mue{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Co-Mue</h1>
        <nav>
            <a href="{{ url_for('main.lista_atenciones') }}">Atenciones</a>
            <a href="{{ url_for('main.crear_atencion') }}">Crear Atención</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Co-Mue by ƒ</p>
    </footer>
</body>
</html>
